<h1>edit mutter</h1>
<%= notice %>
<%= form_with(model: @mutter, url:edit_confirm_mutter_path, local: true, method: :patch ) do |form| %>
    <% if @mutter.errors.any? %>
        <div id="error_explanation">
            <h2><%= @mutter.errors.count %>件のエラーがあります</h2>
            <ul>
            <% @mutter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
 
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.submit %>
<% end %>