<h1>以下の内容で送信する</h1>
<%= form_with(model: @mutter, url:mutter_path, local: true, method: :patch ) do |form| %>
  <div id="error_explanation">
            <h2><%= @mutter.errors.count %>件のエラーがあります</h2>
            <ul>
            <% @mutter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
     <%= form.hidden_field :content %>
     
    <p>つぶやき:<%= @mutter.content %></p>
    <%= form.submit "登録する" %>
<% end %>
<%= form_with(model: @mutter, url: edit_mutter_path, local: true,method: :get) do |form| %>
 <%= form.hidden_field :content %>
 <%= form.submit "もどる", name: 'back' %>
 <% end %>